@import "src/theme";

.editFormContainer {
  background-color: #2f94a0;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;

  .editBox {
    font-family: $primaryFont;
    flex-basis: fit-content;
    background-color: #F9F9F9;
    height: fit-content;
    width: fit-content;
    padding: 20px;
    margin: 20px;

    .header {
      font-size: 1.5em;
      display: grid;
      grid-template-columns: 4fr 1fr;

      padding: 20px;
      align-items: center;

      button {
        width: fit-content;

      }
    }

    .editBody {
      .editRow {
        padding: 10px 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        & > div {
          padding: 0 10px;
          display: grid;
          grid-auto-rows: auto;
        }
      }

    }
  }
}

.spinner {
  width: 28px;
  margin: 0 auto;
}

.buttonRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 12px;

  button {

    font-size: 14px;
    padding: 5px;
  }
}