.row {
    display: grid;
    grid-template-columns: 2% 2% 15% 15% 30% 15% 15%;
    padding: 0 15px;
        -webkit-touch-callout: none; /* iOS Safari */
          -webkit-user-select: none; /* Safari */
           -khtml-user-select: none; /* Konqueror HTML */
             -moz-user-select: none; /* Old versions of Firefox */
              -ms-user-select: none; /* Internet Explorer/Edge */
                  user-select: none; /* Non-prefixed version, currently
                                        supported by Chrome, Opera and Firefox */
    &-checked {
        @extend .row;
        background-color: green;
    }

}