$primaryColor: #bdbdbd;
$primaryColorLight: #e0e0e0;
$primaryColorDark: #9e9e9e;
$secondaryColor: #33b96d;
$secondaryColorLight: #33b96d;
$secondaryColorDark: #00ac53;

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
$primaryFont: 'Roboto', sans-serif;
