$primaryColor: #33a9b9;
$primaryColorLight: #42c3d3;
$primaryColorDark: #2f94a0;
$secondaryColor: #33b96d;
$secondaryColorLight: #33b96d;
$secondaryColorDark: #00ac53;

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
$primaryFont: 'Roboto', sans-serif;
